# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
bun-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.pnp
.pnp.*

# Testing
coverage

# Build
dist
dist-ssr
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment
.env
.env.local
.env.*.local

# Temp
*.tmp
*.temp
.cache
